.box-1{
    background-color: cyan;
}

.box-2{
    background-color: orange;
}

.box-3{
    background-color: orchid;
}

.box-4{
    background-color: royalblue;
}



.container-flex{
    background-color: silver;
    display: flex; /*ativa o flexbox*/
    flex-direction: row; /*distribuição vert (column, hor (row) */
    flex-wrap: wrap; /*quebra linha quando não tem espaço*/
    /* cuida dos elementos no eixo main/principal */
    /* center, space-around, space-between, space-evenly */
    justify-content: center;
    /* cuida dos elementos no eixo cross/cruzado*/
    /*stretch, center, flex-start, flex end */
    align-items: center;
    /* cuida do 'espsço extra' do container */
    align-content: center;
    height: 350px;
    gap: 16px;
    font-family: 'arial; 'sans-serif;
}

/*container-flex div */
.box-1, .box-2, .box-3, .box-4 {
    width: 200px;
    padding: 8px;
    border-radius: 8px;
}

.box-5 {
background-color: brown;
flex: 1;
}

.box-6 {
background-color: teal;
flex: 2;
}

.box-7 {
background-color: orangered;
width: 400px;
}

.container-flex-2 {
    display: flex;
    background-color: blueviolet;
    height: 200px;
    flex-wrap: wrap;
}
