h3 {
    background-color: red;
}

.box1 {
    background-color: coral;
    /* padding espaçamento interno */
    padding: 16px;
    /* expaçamento externo */
    margin: 8px;
}

.box2 {
    background-color: green;
        /* T R B L= sent horário) */
    padding: 8px 20px 4px 10px;
    margin: 8px 10px 20px 40px;
}


.box3 {
    background-color: brown;
    /* espessura estilo cor */
    /* exemplo: dashd, dotted, solid */
    border: 2px solid yellow;
    border-radius: 8px;
    padding: 8px;
    margin: 10px;

}

.box4 {background-color: seagreen;
}

